.ServiceHero {
  padding-top: 10vh;
  padding-bottom: 5vh;
  font-weight: 400;
  font-size: 40px;
  text-align: left;
}

.ServicePage {
  text-align: left;
  width: 45vw;
  margin: auto;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 1.6;
}

.ServicePage img {
  width: 45vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
