.MainHeroContactus {
  background-image: url('https://cropx.com/wp-content/uploads/2022/12/iStock-1389848476.jpg');
  height: 40vh;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  padding-top: 10vh;
}

.heroTextContactus {
  color: white;
  background-color: #152845;
  font-size: 6vh;
  padding: 1vh;
  margin: 2vh;
}
.getintouch {
  text-align: left;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.getintouch h1 {
  float: left;
}
#subject {
  height: 200px;
}
.contactsplit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type='submit'] {
  background-color: #142945;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.officeaddress {
  width: 40vw;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.customblue {
  color: #45707f;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

@media screen and (max-width: 950px) {
  .contactsplit {
    flex-direction: column;
  }
  .getintouch {
    width: 100vw;
  }
  .officeaddress {
    width: 100vw;
    padding: 4vw;
  }
}
