.MainHero {
  background-image: url('/mainhero.jpg');
  height: 40vh;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  padding-top: 10vh;
}

.heroText {
  color: white;
  background-color: #152845;
  font-size: 6vh;
  padding: 1vh;
  margin: 2vh;
  text-align: left;
}

.heroSubText {
  color: white;
  background-color: #152845;
  text-align: left;
  font-size: 3vh;
  font-weight: 700;
  padding: 0.5vw;
  font-style: italic;
}

.content {
  background-position-x: center;
  background-position-y: center;
}

.Horizontal {
  height: 55vh;
  display: flex;
  align-items: start;
  padding-top: 5vh;
  justify-content: space-around;
}

.Horizontal img {
  height: 50vh;
  width: 50vw;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  padding: 1vh;
}

.horiTextHeader {
  font-weight: 700;
  text-align: left;
}

.horiText {
  width: 50vw;
  height: 200px;
  font-weight: 400;
  font-size: 2.5vh;
  text-align: left;
  margin-left: 2vw;
  margin-right: 2vw;
  color: #152845;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 1.6;
}

@media screen and (max-width: 950px) {
  .Horizontal img {
    display: none;
  }
  .horiText {
    width: 100vw;
  }
  .Horizontal {
    width: 100vw;
    height: 65vh;
  }
}

html,
body {
  font-family: 'Inter';
}
