.MainHeroCarrers {
  background-image: url('https://cropx.com/wp-content/uploads/2022/12/iStock-1286905602-3.jpg');
  height: 40vh;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  padding-top: 10vh;
}

.heroTextClients {
  color: white;
  background-color: #152845;
  font-size: 6vh;
  padding: 1vh;
  margin: 2vh;
}

.clientText {
  width: 85vw;
  margin: auto;
  padding: 2vh;
  font-size: 16px;
  color: rgb(69 110 125);
  text-align: left;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5vh;
}
.clients div {
  width: 25vw;
  height: 15vh;
}

@media screen and (max-width: 950px) {
  .clients {
    flex-direction: column;
  }
  .clients div {
    margin: auto;
  }
}
