.MainHeroCarrers {
  background-image: url('https://cropx.com/wp-content/uploads/2023/10/Funny-CropX-Recruiting-Video-Updated.png');
  height: 40vh;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  padding-top: 10vh;
}

.heroTextCarrers {
  color: white;
  background-color: #152845;
  font-size: 6vh;
  padding: 1vh;
  margin: 2vh;
}
