.MainHeroProduct {
  background-image: url('https://cropx.com/wp-content/uploads/2022/10/reba-spike-elcVuEs24Bc-unsplash-scaled.jpg');
  height: 40vh;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  padding-top: 10vh;
}

.heroTextProduct {
  color: white;
  background-color: #152845;
  font-size: 6vh;
  padding: 1vh;
  margin: 2vh;
}
