.AboutHero {
  background-image: url('/hori-satellite.jpg');
  height: 40vh;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  padding-top: 10vh;
}


.aboutcontent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80vw;
  margin: auto;
  padding-top: 10vh;
}

.content45 {
  width: 50vw;
  margin: auto;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 1.6;
  text-align: left;
}

@media screen and (max-width: 950px) {
  .enjoy {
    width: 100vw;
  }
  .aboutcontent {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .content45 {
    width: 75vw;
  }
}
