.NavFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.cropxLogo{
    padding: 1vh;
}

.RightFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.RightFlex div{
    margin: 2vh;
    font-size: large;
}
