.NavFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
  position: fixed;
  background-color: white;
  margin-bottom: 10vh;
}

.ham {
  display: none;
}

.cropxLogo {
  padding: 1vh;
}

.RightFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RightFlex div {
  margin: 2vh;
  font-size: large;
}

@media screen and (max-width: 950px) {
  .RightFlex {
    display: none;
  }
  .ham {
    display: flex;
    padding: 2vh;
  }
}
