@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Grotesk:wght@300..700&display=swap');

.dev {
  display: flex;
  align-items: center;
  padding: 5vw;
}

.devopstext {
  font-size: 3.375em;
  color: rgb(23, 37, 42);
  width: 40vw;
  font-weight: 250;
  line-height: 1.26;
  font-family: 'Lato', sans-serif;
  padding: 2vw;
}
.devopsDivinText {
  margin-bottom: 2vh;
}
.devopsImage {
  height: 40vh;
  width: 40vw;
  align-self: flex-end;
}

.consult {
  font-size: large;
  border-color: black;
  border-width: 1vw;
  font-family: sans-serif;
  color: #5472d1;
  border: 1px solid #5472d1;
  width: 25vw;
  margin: auto;
}

@media screen and (max-width: 950px) {
  .devopsImage {
    display: none;
  }
  .devopstext {
    margin: auto;
  }
}
