.NavFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: white;
}

.sticky {
  position: sticky;
  top: 0;
}

.ham {
  display: none;
}

.cropxLogo {
  padding: 1vh;
}

.RightFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RightFlex div a {
  margin: 2vh;
  font-size: large;
  color: black;
  text-decoration: none;
}

.RightFlex div a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 950px) {
  .RightFlex {
    display: none;
  }
  .ham {
    display: flex;
    padding: 2vh;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
  font-size: large;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
i {
  padding-left: 0.5vw;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #142945;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Nested dropdown styles */
.dropdown-content .dropdown {
  position: relative;
}

.dropdown-content .dropdown-content {
  position: absolute;
  left: 100%;
  top: 0;
  min-width: 200px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  display: none;
}

.dropdown-content .dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn.sub {
  background: none;
  border: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: black;
}

.dropbtn.sub:hover {
  background-color: #ddd;
}
