.MainHeroProduct {
  background-image: url('/spacex.avif');
  height: 40vh;
  background-position-x: 0;
  background-position-y: 45%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  padding-top: 10vh;
}

.heroTextProduct {
  color: white;
  background-color: #152845;
  font-size: 6vh;
  padding: 1vh;
  margin: 2vh;
}

.MainProductPage {
  margin: auto;
  width: 90vw;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  padding-bottom: 10vh;
}

.BlogCard {
  height: 50vh;
  width: 30vw;
  margin-top: 10vh;
  padding-bottom: 20vh;
}

.BlogCard div{
  height: 12vh;
}

.BlogCard img{
  height: 50vh;
  width: 30vw;
}

.BlogCard :hover{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}