#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
}

.MainHero {
  background-image: url("https://cropx.com/wp-content/uploads/2022/10/reba-spike-elcVuEs24Bc-unsplash-scaled.jpg'");
  height: 50vh;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  padding-top: 10vh;
}

.heroText {
  color: white;
  background-color: #152845;
  font-size: 6vh;
  padding: 1vh;
  margin: 2vh;
}

.content {
  background-image: url('https://cropx.com/wp-content/uploads/2022/11/Leaf-Patterns_White-2.png');
  background-color: #f1dabf54;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.Horizontal {
  height: 55vh;
  display: flex;
  align-items: center;
  padding-top: 5vh;
  justify-content: space-around;
}

.Horizontal img {
  height: 55vh;
  width: 55vw;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  padding: 1vh;
}

.horiTextHeader {
  font-weight: 700;
}

.horiText {
  width: 30vw;
  font-weight: 400;
}
