#root {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.MainHero {
  background-image: url("https://cropx.com/wp-content/uploads/2022/10/reba-spike-elcVuEs24Bc-unsplash-scaled.jpg'");
  height: 50vh;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}