#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}