.MainHeroCarrers {
  background-image: url('https://cropx.com/wp-content/uploads/2023/10/Funny-CropX-Recruiting-Video-Updated.png');
  height: 40vh;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  padding-top: 10vh;
}

.heroTextCarrers {
  color: white;
  background-color: #152845;
  font-size: 6vh;
  padding: 1vh;
  margin: 2vh;
}

.positionMain{
  font-size: 2.5em;
  font-weight: 400;
  text-align: center;
  padding: 5vh;
}

.positionRow {
  display: flex;
  flex-direction: row; 
  padding: 2vw;
}

.open{
  font-size: 1.em;
  color: rgb(70, 112, 127);
  font-weight: 700;
  padding: 2vh;
}

.position{
  width: 25vw;
}

.details {
  width: 75vw;
  text-align: left;
  color: rgba(70, 112, 127)
}